* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo{
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: linear-gradient(to right, #FF5733, #6D1FF0); 
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, 'Helvetica Neue', arial, sans-serif;
  background: black;
  height: 10vh;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 32px;
  animation: navLinkFade 0.5 ease forwards;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}
body {
  background: linear-gradient(to bottom, #5d0985, #12473d);
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width:  50vw;
    height:  92vh;
    background: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 3;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {  
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu .nav-list.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu .nav-list.active .line2 {
  opacity: 0;
}

.mobile-menu .nav-list.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-cover {
  position: absolute; /* Define a posição absoluta para que a imagem de capa não afete o layout */
  
  left: 0; /* Alinha a parte esquerda da imagem de capa com o vídeo */
  width: 700; /* Define a largura para ocupar 100% do contêiner pai (vídeo) */
  height: 400; /* Define a altura para ocupar 100% do contêiner pai (vídeo) */
  z-index: 1; /* Garante que a imagem de capa esteja acima do vídeo (maior índice z) */
  
}
@media (max-width: 768px) {
  .modal {
    max-width: 90%; /* Ajuste a largura máxima para telas menores */
    width: 80%; /* Largura mínima ajustada para telas menores */
    padding: 10px; /* Reduz o preenchimento para telas menores */
    
  }

  .close {
    top: 5px;
    right: 5px;
    font-size: 18px;
  }
}
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  .abrirmodal{
    position: absolute;
    top: 150px;
    right: 50px;
  
  } 
  .fecharmodal{
    position: absolute;
    top: 150px;
    right: 50px;
    
  } 
  button:hover {
    background-color: #0056b3;
  }
  .modal {
    display: none;
    
    top: 130px;
    left: 983px;
    
    background-color: #c5c1c1a8;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    z-index: 1;
  }
  
  .close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
    color: red;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 160px;
    top:65px;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .responsive-video {
    width: 70%;
    max-height: 100%;
    display: block;
    background: #000; /* Cor de fundo do vídeo */
}

video{
  position: unset;
  left: 30px;
}

.mp4{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Isso garante que o vídeo esteja centralizado na tela inteira */
  margin: 0; /* Remove margens padrão do corpo */
}

